{% extends "layout.html.twig" %}

{% block head %}
{#
<script type="text/javascript">
Coverslide('urls')('cbzreader').fileListUrl = '/file-list';
Coverslide('urls')('cbzreader').comicPagesUrl = '/comic/list';
Coverslide('urls')('cbzreader').comicImageUrl = '/comic/image';
</script>
#}
{% endblock %}

{% block content %}
<div id="cbz-reader-container">
    <div id="cbz-reader-toolbar" class="navbar navbar-default" role="navigation">
        <div class="">
            <div class="toolbar-left navbar-left">
                <a class="button round" data-action="toggle-browser">Files</a>
                <a class="button round" data-action="toggle-pages">Pages</a>
            </div>
            <div class="toolbar-right navbar-right">
                <a class="button round" data-action="fullscreen">Full</a>
            </div>
            <div class="toolbar-center">
                <a class="button round fi-arrow-left" data-action="previous-page" disabled></a>
                <a class="button round fi-arrow-right" data-action="next-page" disabled></a>
            </div>
        </div>
    </div>
    <div id="cbz-reader-body">
        <div id="cbz-reader-browser">
            <div class="browser-root">
                <ol class="nav directory-children"></ol>
            </div>
        </div>
        <div id="cbz-reader-viewer">
            <img class="image" />
        </div>
        <div id="cbz-reader-pages">
            <div>
                <div class="current-file-title">No File</div>
                <ul class="nav current-file-list">
                </ul>
            </div>
        </div>
    </div>
</div>
<script id="cbz-reader-template-browser-row" type="application/x-template-dot">
{%- verbatim -%}
<li class="browser-item" data-path="{{= it.path }}">
    <a href="#!{{= it.path }}{{= it.directory ? '' : '::1' }}">
        <span class="browser-icon {{= it.directory ? 'fi-folder' : 'fi-page' }}"></span>
        <span class="file-name">{{= it.filename }}</span>
    </a>
    {{? it.directory }}
    <ol class="nav directory-children">
    </ol>
    {{?}}
</li>
{%- endverbatim -%}
</script>
{% endblock %}

{% block bottom %}
{#
<script src="/vendor/klass.js"></script>
<script src="/vendor/doT.js"></script>
<script src="/vendor/eventemitter2.js"></script>
<script src="/vendor/fullscreen-api-polyfill.js"></script>
<script src="/js/Coverslide/util/distance.js"></script>
<script src="/js/Coverslide/dao/cbzreader/CbzReaderDao.js"></script>
<script src="/js/Coverslide/page/cbzreader/CbzReaderPage.js"></script>
<script src="/js/Coverslide/widget/cbzreader/ToolbarWidget.js"></script>
<script src="/js/Coverslide/widget/cbzreader/BrowserWidget.js"></script>
<script src="/js/Coverslide/widget/cbzreader/PagesWidget.js"></script>
<script src="/js/Coverslide/widget/cbzreader/ViewerWidget.js"></script>
<script src="/js/Coverslide/page/cbzreader/CbzReaderPage.js"></script>
<script type="text/javascript">
    Coverslide.page.current = new Coverslide.page.cbzreader.CbzReaderPage();
</script>
#}
<script src="/assets/js/main.js"></script>
{% endblock %}
