//@import '../../node_modules/foundation/scss/normalize.scss';
@import '../../node_modules/zurb-foundation-5/scss/foundation.scss';
@import 'icons.scss';

html,body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    font-size:13px;
    font-family:sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#cbz-reader-container{
    background:black;
    height:100%
}

#cbz-reader-toolbar {
    background:#EEE;
    height: 40px;
    width:100%;
    position:absolute;
    top:0;
    padding:0;
    z-index:5;
    box-shadow:0 0 5px #444;
    line-height: 40px;
    vertical-align: middle;
    padding: 0 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
}

#cbz-reader-body {
    background:black;
    border-top: 40px solid transparent;
    height:100%;
    position:relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#cbz-reader-browser {
    background:white;
    position:absolute;
    top:0;
    left:0%;
    width:0%;
    height:100%;
    z-index:4;
    box-shadow:0 0 5px #444;
    transition: width .3s, left .3s;
    transition-timing-function: linear;
}

#cbz-reader-pages {
    background:#DDD;
    position:absolute;
    top:0;
    left:0%;
    width:0%;
    height:100%;
    overflow:auto;
    z-index:3;
    box-shadow:0 0 5px #444;
    transition: width .3s, left .3s;
    transition-timing-function: linear;
}

#cbz-reader-viewer {
    background:#444;
    position:absolute;
    top:0;
    left:0%;
    width:100%;
    height:100%;
    overflow:auto;
    z-index:2;
    box-shadow:0 0 5px #444;
    transition:width .3s, left .3s;
    transition-timing-function: linear;
}

a,a:link,a:active,a:visited{
    color: inherit;
    text-decoration:none;
    cursor:pointer;
}


//desktop-first sizing
.browser {
    #cbz-reader-browser {
        width:50%;
    }

    #cbz-reader-pages {
        left:50%;
        width:0%;
    }

    #cbz-reader-viewer {
        left:50%;
        width:50%;
    }
}

.pages {
    #cbz-reader-browser {
        width:0%;
    }

    #cbz-reader-viewer {
        left:50%;
        width:50%;
    }

    #cbz-reader-pages {
        width:50%;
    }
}

#cbz-reader-browser {
    overflow:auto;
    .nav li.active > a {
        background: #ccccff;
    }
    .browser-item .browser-icon {
        width: 20px;
    }
    .browser-item .fi-folder {
        color: orange;
    }
    .browser-item .fi-page {
        color: light-gray;
    }
}

.directory-children {
    list-style:none;
    padding:0;
    margin:0;
    padding-left: 15px;
    .browser-root > & {
        padding: 0;
    }
    li {
        list-style:none;
        padding:0;
        margin:0;
        line-height: 18px;
    }
}

#cbz-reader-pages {
    .active a {
        background: #ccccff;
    }
    .current-file-title {
        font-weight:bold;
        color:#666;
        text-transform:uppercase
    }
    .current-file-contents {
        padding: 10px;
    }
    .current-file-list li {
        position:relative;
        cursor:pointer;
        padding-right:24px;
        white-space:nowrap;
        &.selected > a {
            background:#aaf;
        }
    }
}

.toolbar-left {
    float:left;
    vertical-align: middle;
}
.toolbar-right {
    float:right;
}

.toolbar-center {
    text-align:center;
}

#cbz-reader-viewer {
    .image {
        display:block;
        width:100%;
        max-width: none; //override normalize rules
        transition: width .3s, height .3s;
        transition-timing-function: linear;
        &.zoom {
            width:200%;
        }
    }

    .viewer-text {
        background:white;
    }
}

@media screen and (max-width:480px) {

    #cbz-reader-browser {
        top:0%;
        left:0;
        width:100%;
        height: 0%;
        transition:top .3s, height .3s;
        transition-timing-function: linear;
    }

    #cbz-reader-pages {
        top: 0%;
        left:0;
        width:100%;
        height: 0%;
        transition: top .3s, height .3s;
        transition-timing-function: linear;
    }

    #cbz-reader-viewer {
        top: 0%;
        left:0;
        width:100%;
        height: 100%;
        transition: top .3s, height .3s;
        transition-timing-function: linear;
    }

    /* override base style changes */
    .browser #cbz-reader-browser,
    .browser #cbz-reader-viewer,
    .browser #cbz-reader-pages,
    .pages #cbz-reader-browser,
    .pages #cbz-reader-viewer,
    .pages #cbz-reader-pages,
    .browser.pages #cbz-reader-browser,
    .browser.pages #cbz-reader-pages,
    .browser.pages #cbz-reader-viewer {
        width:100%;
        left:0%;
        top:0%;
    }

    .browser {
        #cbz-reader-browser {
            height:50%;
        }

        #cbz-reader-pages {
            top:50%;
            height:0%;
        }

        #cbz-reader-viewer {
            top:50%;
            height:50%;
        }
    }

    .pages {
        #cbz-reader-pages {
            height: 50%;
            top: 0%;
        }

        #cbz-reader-viewer {
            top: 50%;
            height: 50%;
        }
    }

    .browser.pages {
        #cbz-reader-browser {
            height: 30%;
        }
        #cbz-reader-pages {
            top: 30%;
            height: 30%;
        }
        #cbz-reader-viewer {
            top: 60%;
            height: 40%;
        }
    }
}
